<?xml version="1.0"?>
<configuration>
  <system.web>
        <authorization>
          <allow roles="Customer"/>
          <deny users="*"/>
        </authorization>
  </system.web>
	<connectionStrings>
		<add name="JojoArtworkDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\JojoArtwork.mdf;Integrated Security=SSPI;" />
		<add name="JojoArtworkConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\JojoArtwork.mdf;Integrated Security=True"
		   providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
